
nav #main-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	opacity: 0;
	border-radius: 25%;
	overflow: hidden;
	transition: all var(--default-transition);
	color: var(--menu-font-color);
}

nav #main-menu.visible {
	border-radius: 0%;
	z-index: 1000;
	transition: all var(--default-transition), z-index 0ms;
	opacity: 1;
	background-color: var(--menu-background-color);
}

nav #main-menu>ul {
	list-style-type: none;
	/* Remove bullets */
	padding: 0;
	/* Remove padding */
	margin: 0;
	/* Remove margins */
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 3rem;
}

nav #main-menu>ul>a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 4vh;
}

nav #main-menu>ul>a * {
	transition: var(--default-transition);
}

nav #main-menu>ul>a>li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav #main-menu>ul>a>li>svg {
	height: 2.5rem;
	margin-left: 1rem;
	fill: var(--menu-font-color);
	overflow: visible;
}

nav #main-menu>ul>a:hover * {
	scale: 1.05;
	color: var(--accent-color);
	fill: var(--accent-color);
}